<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Valdez - Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
</head>

<body>

    <header class="hero">
        <img src="../img/contactanos.jpg" alt="contacto" width="100%" height="100%">
        <nav class="menu-lateral">
            <a href="../index.html">
                <img src="../img/home.png" alt="">
            </a>
            <a href="../view/servicios.html">
                <img src="../img/servicios.png" alt="">
            </a>
            <a href="#">
                <img src="../img/contactos.png" alt="">
            </a>
        </nav>
    </header>

    <main>

        <section class="formulario">
            <form>
                <label>Cedula</label>
                <input type="text" placeholder="cedula..">

                <label>Nombre</label>
                <input type="text" placeholder="nombre..">

                <label>Apellido</label>
                <input type="text" placeholder="apellido..">

                <label>Email</label>
                <input type="text" placeholder="email..">

                <label>Usuario</label>
                <input type="text" placeholder="usuario..">

                <label>Contraseña</label>
                <input type="text" placeholder="contraseña..">

                <input type="submit" value="Enviar">
            </form>
        </section>
    </main>

    <footer>

        <div class="redes">
            <a href="https://facebook.com"><img src="../img/facebook.png" alt="Facebook"></a>
            <a href="https://instagram.com"><img src="../img/instagram.png" alt="Instagram"></a>
            <a href="https://twitter.com"><img src="../img/twitter.png" alt="Twitter"></a>
        </div>
        <p>Página web realizada para fines académicos por: Sebastian Amaris Perez © 2026</p>
    </footer>

</body>

</html>