<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Valdez - Servicios</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
</head>

<body>

    <header class="hero">
        <img src="../img/Sservicios.jpg" alt="fondo" width="100%" height="100%">
        <nav class="menu-lateral">
            <a href="../index.html">
                <img src="../img/home.png" alt="">
            </a>
            <a href="#">
                <img src="../img/servicios.png" alt="">
            </a>
            <a href="contacto.html">
                <img src="../img/contactos.png" alt="">
            </a>
        </nav>
    </header>

    <main>

        <section class="combos">

            <div class="card-combo">
                <h2>Café 1</h2>
                <img src="../img/cafe1.png" alt="Café 1">
                <p>Delicioso café de alta calidad con leche y azúcar.</p>
            </div>

            <div class="card-combo">
                <h2>Café 2</h2>
                <img src="../img/cafe2.png" alt="Café 2">
                <p>Delicioso café de alta calidad.</p>
            </div>

        </section>


    </main>

    <footer>

        <div class="redes">
            <a href="https://facebook.com"><img src="../img/facebook.png" alt="Facebook"></a>
            <a href="https://instagram.com"><img src="../img/instagram.png" alt="Instagram"></a>
            <a href="https://twitter.com"><img src="../img/twitter.png" alt="Twitter"></a>
        </div>
        <p>Página web realizada para fines académicos por: Sebastian Amaris Perez © 2026</p>
    </footer>

</body>

</html>